.DS_Store
.env
.env.development
.env.testing
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
__pycache__/
__pycache__
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover